@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.grid-container{
    display: grid;
    width: 1100px;
    margin: 30px auto ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px 1300px;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "lateral contenido contenido";
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 10, 0.556);
    background-color: rgb(229, 229, 229);
}
.encabezado{
    grid-area: encabezado;
    background: rgb(88, 88, 88);
    color: white;
    display: flex;
    align-items: center;
    padding: 90px;
    
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    flex: 1;
    margin-left: 60px;
}
.text-container h1{
    color: #ffffff;
    margin: 5px;
    font-size: 70px;
    font-weight: 200;
}
   
.text-container h2{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 5;
    text-transform: uppercase;
    color: white;
}
.encabezado img {
    border-radius: 50%; 
    width: 180px;
    height: 180px;
    object-fit: cover; 
    margin-left: 50px;
}

.lateral{
    grid-area: lateral;
    background: rgb(242, 242, 242);
    padding: 40px 30px;
}

.lateral h3, .contenido h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    border-bottom: 3px solid #3f3f48db; 
    padding-bottom: 5px; 
}
.contenido{
    padding: 40px 30px;
    grid-area: contenido;
    background: rgb(255, 255, 255);
}
.contenido h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}
.contenido p, .lateral p{
    line-height: 1.5;
    margin: 12px;
}
.contenido em {
    font-size: 18px;
    color: #777;
}
.aptitud ul, .habilidades ul, .intereses ul, .contenido ul {
    margin-left: 30px;
    padding-top: 0px 40px;
}
.lateral ul li{
    margin-bottom: 12px;
    margin: 10px 0;
}
.contenido ul li {
    margin-bottom: 12px;
    margin: 10px 0;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #000000;
}